<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>qblock chain index</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/me.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <meta name="viewport" content="width=device-width,initial-sacle=1.0">


</head>
<div id="particles">
    <div id ="intro"></div>
</div>
<!--导航-->
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class ="ui inverted menu">
            <h2 class ="ui teal header item">QBlockChainV1.0</h2>
            <a href ="#" class ="item"> <i class="laptop sign icon"></i>Mineral</a>
            <a href ="#" class ="item"> <i class="bitcoin sign icon"></i>Wallet</a>
            <a href ="#" class ="item"><i class="venus mars icon"></i>About Me</a>
        </div>
    </div>
</nav>


<!--中间内容-->
<div  class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="sixteen wide column">
                <!--header-->
                <div class="ui top raised segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">BlockChain list</h3>
                        </div>
                        <div class="right aligned column">
                            当前区块高度: <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2>
                        </div>
                    </div>
                </div>

                <!--content-->
                <div class="ui raised  segment">
                    <div class="sixteen wide column">
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                                <h3 class="ui header">区块号:#1</h3>

                                <div class="ui list">
                                    <div class="item">
                                        <div class="ui  label">
                                            <i>previousHash:</i><a style= "color:green"href="#" class="m-a-font item">00064b460c8f752dc0dcb404f55e6d745237b35f47233215a9e8a28348aa7516</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="ui  label">
                                            <i>merKleRoot:26ff6c9b41aee2673b8126e772009efa035cc8be3728bafa99fef65806496fe4</i>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="ui  label">
                                            <i>nonce:6178</i>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="ui  label">
                                            <i>difficulty:3</i>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="ui  label">
                                            <i>timestamp:1573191528211</i>
                                        </div>
                                    </div>

                                    <div class="ui  accordion ">
                                        <div class="hidden title"><i class="dropdown icon"></i> data </div>
                                        <div class="hidden content" >Including 100 transactions
                                        <div class="accordion">
                                            <div class="title"><i class="linkify icon"></i><p class="m-p-style-a">txId:NWEyMmE3ZWU4Njg5YjFiYWFkYzkzYjcyODljMmM3OTQxYWE3NTI3ZjlhODI4ZjliNDQ4MWJjZDY2ZWJmYzdhOQ== </p></div>
                                            <div class="content m-padded-none">
                                                <p class="transition hidden"><p></p>
                                                <div class="accordion transition hidden">
                                                    <div class="title"><i class="share icon"></i> transaction input </div>
                                                    <div class="content">
                                                        <div class="ui list">
                                                            <li>publicKey: Y2FvbWFvYm95 </li>
                                                            <li>txId:NWEyMmE3ZWU4Njg5YjFiYWFkYzkzYjcyODljMmM3OTQxYWE3NTI3ZjlhODI4ZjliNDQ4MWJjZDY2ZWJmYzdhOQ</li>
                                                            <li>index:23</li>
                                                        </div>

                                                    </div>

                                                    <div class="title active"><i class="reply icon"></i> transaction output</div>
                                                    <div class="content">
                                                        <div class="ui list">
                                                            <li>hashPublicKey: Y2E3OGRiOWI3ZTBhZGU0ZTcwOTY3OWI3NGM4ODRhNDFkMGJiZDM3ZQ== </li>
                                                            <li>value:7</li>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        </div>



                                    </div>

                                </div>

                    </div>


                        <div class="ui container m-padded-tb-tb">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                </div>
                                <div class="right aligned column">

                                   <h6>created:2019年11月8日  Mineral:<a href="#" class="ui header m-text-verythin ">草帽boy</a></h6>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>
                    <!--*/-->
                </div>

                <!--footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>

            </div>



            </div>

        </div>
    </div>

</div>

<br>
<br>

<!--底部footer-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class ="ui container">
            <div class="ui inverted divided grid">

                <div class ="three wide column">
                    <div class="ui inverted link list">
                        <div class ="item">
                            <div class="ui inverted link list">
                            <img src="static/img/wechat.jpg" class="ui rounded image" alt="" style="height: 100px;width: 100px">
                            </div>
                            </div>
                    </div>
                </div>
                <div class ="three wide column">
                    <h4 class ="ui inverted header">关于</h4>
                    <div class="ui inverted link list">
                    <a href="#" class="item">草帽boy(caomao boy)</a>
                        <a href="#" class="item">草帽boy(caomao boy)</a>
                        <a href="#" class="item">草帽boy(caomao boy)</a>
                    </div>
                </div>
                <div class ="three wide column">
                    <h4 class ="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:1158829384@qq.com</a>
                        <a href="#" class="item">QQ:1158829384</a>
                    </div>

                </div>
                <div class ="seven wide column">
                    <div class ="three wide column">
                        <h4 class ="ui inverted header">比特币介绍</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">比特币（Bitcoin）的概念最初由中本聪在2008年11月1日提出，并于2009年1月3日正式诞生 [1]  。</a>
                            <a href="#" class="item">根据中本聪的思路设计发布的开源软件以及建构其上的P2P网络。比特币是一种P2P形式的虚拟的加密数字货币。点对点的传输意味着一个去中心化的支付系统。</a>
                              </div>

                </div>
            </div>
        </div>
            <div class="ui inverted section divider">
                <p class="ui  m-text-thin m-text-spaced">区块链是分布式数据存储、点对点传输、共识机制、加密算法等计算机技术的新型应用模式.</p>
            </div>
        </div>

    </footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script type='text/javascript' src='static/js/jquery.particleground.js'></script>
<script type='text/javascript' src='static/js/demo.js'></script>
<script type='text/javascript'>
    $('.ui.accordion')
        .accordion()
    ;
    $('.trigger.example .accordion')
        .accordion({
            selector: {
                trigger: '.title .icon'
            }
        });
</script>
</body>
</html>